.dayGridStyle:hover{
    -fx-border-color: #1e1c1c;
}

#markerInfoClose:hover{
    -fx-text-fill: blue;
}

#markerEditInfoClose:hover{
    -fx-text-fill: blue;
}

.bdayMarkerStyle:hover{
    -fx-opacity: 0.55;
}

#upArrow:hover{
    -fx-opacity: 0.55;
}

#downArrow:hover{
    -fx-opacity: 0.55;
}

#moonIcon:hover{
    -fx-opacity: 0.55;
}